{% extends 'base.html' %}

{% block head %}
    <title>Sells</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/order_requests.css' %}">
{% endblock %}

{% block body %}


    <div id="Main">

        <h1>Sell Requests</h1>

        <div id="orderContainer">
            <ul id="orderLabelList">
                <li class="orderLabel" style="background-color: red!important; color: white">Refuse</li>
                <li class="orderLabel">Image</li>
                <li class="orderLabel">Product</li>
                <li class="orderLabel">Customer</li>
                <li class="orderLabel">Address</li>
                <li class="orderLabel">Quantity</li>
                <li class="orderLabel">Total</li>
                <li class="orderLabel" style="background-color: #00cc66!important; color: white">Confirm</li>
            </ul>

            {% for order in requestedOrders %}
                <div class="orderCartItem">
                    <a href="{% url 'refuseOrder' id=order.id %}" class="refuseOrder material-icons">cancel</a>

                    <img class="orderCartItemImage" src="{{ order.product.Photo2.url }}" alt="">

                    <p class="orderCartItemName centered">{{ order.product.Name }}</p>

                    <p class="orderCartItemName centered">{{ order.customer.username }}</p>

                    <p class="orderCartItemPrice centered">{{ order.address }}</p>

                    <p class="orderCartItemCount centered">{{ order.count }}</p>

                    <p class="orderCartItemTotalPrice centered"> {{ order.totalPrice }}$ </p>

                    <a href="{% url 'confirmOrder' id=order.id %}" class="confirmOrder material-icons">check_circle</a>
                </div>
            {% endfor %}
        </div>


        <h1>Confirmed Sells</h1>

        <div id="orderContainer">
            <ul id="confirmedOrderLabelList">

                <li class="orderLabel">Image</li>
                <li class="orderLabel">Product</li>
                <li class="orderLabel">Customer</li>
                <li class="orderLabel">Address</li>
                <li class="orderLabel">Quantity</li>
                <li class="orderLabel">Total</li>
                <li class="orderLabel">Cargo Number</li>
                <li class="orderLabel" style="background-color: #ff6011!important; color: white">Send</li>
            </ul>

            {% for order in confirmedOrders %}
                <div class="confirmedOrderCartItem">

                    <img class="orderCartItemImage" src="{{ order.product.Photo2.url }}" alt="">

                    <p class="orderCartItemName centered">{{ order.product.Name }}</p>

                    <p class="orderCartItemName centered">{{ order.customer.username }}</p>

                    <p class="orderCartItemPrice centered">{{ order.address }}</p>

                    <p class="orderCartItemCount centered">{{ order.count }}</p>

                    <p class="orderCartItemTotalPrice centered"> {{ order.totalPrice }}$ </p>

                    <form id="cargoForm" method="post" class="centered" action="{% url 'sendOrder' id=order.id %}">
                        {% csrf_token %}
                        <input type="text" class="nonSpin" name="cargoNumber">
                    </form>
                    <button form="cargoForm" class="sendOrder material-icons">done_outline</button>
                </div>
            {% endfor %}
        </div>


        <h1>Shipped Sells</h1>

        <div id="orderContainer">
            <ul id="ShippedOrderLabelList">
                <li class="orderLabel" style="background-color: red!important; color: white">Cargo Num</li>
                <li class="orderLabel">Image</li>
                <li class="orderLabel">Product</li>
                <li class="orderLabel">Customer</li>
                <li class="orderLabel">Address</li>
                <li class="orderLabel">Quantity</li>
                <li class="orderLabel">Total</li>
            </ul>

            {% for order in sendedOrders %}
                <div class="ShippedOrderCartItem">
                    <div class="centered">{{ order.cargoNumber }}</div>

                    <img class="orderCartItemImage" src="{{ order.product.Photo2.url }}" alt="">

                    <p class="orderCartItemName centered">{{ order.product.Name }}</p>

                    <p class="orderCartItemName centered">{{ order.customer.username }}</p>

                    <p class="orderCartItemPrice centered">{{ order.address }}</p>

                    <p class="orderCartItemCount centered">{{ order.count }}</p>

                    <p class="orderCartItemTotalPrice centered"> {{ order.totalPrice }}$ </p>
                </div>
            {% endfor %}
        </div>


    </div>


{% endblock %}